h1 CSS

pre
  code.language-css.
    .badass-stuff {
      background-color: #BADA55;
    }

p Standards are #[a(href="https://github.com/Pure360/frontend/wiki/CSS-Standards") here]
p Our CSS is strictly modular. Examples are:
ul
  li #[a(href="http://bradfrost.com/blog/post/atomic-web-design/") Atomic]
  li #[a(href="https://smacss.com/book/categorizing") SMACSS]
  li #[a(href="https://css-tricks.com/bem-101/") BEM]
  li #[a(href="https://github.com/stubbornella/oocss/wiki") OOCSS]
  
p Sharing ideas with Bootstrap:
ul 
  li Centralised variables #[code.language-css= '.foo { padding: 0 @padding-large-horizontal; }']
  li Opt-in to styling #[code.language-markup= '<table class="table">']
  li Specialise #[code.language-markup= '<table class="table table-striped">']
  li Support global states #[code.language-markup= '<div class="nav-item active">']
