h1 HTML

pre
  code.language-markup= '<marquee>Serious Markup</marquee>'

p Standards are #[a(href="https://github.com/Pure360/frontend/wiki/HTML-standards") here]
p HTML can be found in 4 main places
ul
  li #[a(href="http://localhost:3000/styleguide/") Pattern Library]
  li #[a(href="http://getbootstrap.com/") Bootstrap]
  li #[a(href="https://angular-ui.github.io/bootstrap/") UI-Bootstrap]
  li In the existing codebase
