h1 Less

pre
  code.language-css.
    .even-more-badass:extend(.badass-stuff) {
      display: flex;
    }

p Standards are #[a(href="https://github.com/Pure360/frontend/wiki/CSS-Standards#less") here]

p Some important ideas:
ul
  li Variables/mixins (Colours and Sizing)
  li Atomic structure
  li Layouts
  li Theming
