h1 Modules
p BEM
p OOCSS
p SMACSS
p Atomic
p Opt-in to styling #[code= '<table class="table">']
p Specialise #[code= '<table class="table table-striped">']
p Support global states #[code= '<table class="table selectable">'] / #[code= '<tr class="selected">']
p Modules are a contract