h1 Problems with non-modular
ul
  li Unpredictable
    ul
      li Dev A implements #[code= '.button']
      li Dev B uses #[code= '.button'] but sneaks in #[code= '.homepage .button { padding 50px; }'] because marketing want more clicks
      li Dev C tries to add a new button to the homepage