doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title V8 UI Workflow

    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    include ./_mixins.jade

    article
      section(data-bespoke-hash='intro')
        include ./_intro.jade
        
      section(data-bespoke-hash='html')
        include ./_html.jade
        
      section(data-bespoke-hash='css')
        include ./_css.jade
        
      section(data-bespoke-hash='less')
        include ./_less.jade

      section(data-bespoke-hash='example')
        include ./_example.jade

      section(data-bespoke-hash='typical')
        include ./_typical.jade

      section(data-bespoke-hash='modules')
        include ./_modules.jade

      section(data-bespoke-hash='style-types')
        include ./_style-types.jade

      section(data-bespoke-hash='problems')
        include ./_problems.jade

    script(src='build/build.js')
